.wrapper{
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 1.6rem;
    line-height: 48px;
    overflow: hidden;
    padding: 0 30px 0 48px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}